<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aditya Suryadhwaj's PortFolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJFC6kD5R5C2R6L0pLegYJ7j13Pzp" crossorigin="anonymous">
    <style>
 
        
        
        @media (min-width:1500px) {
  



body{
    background-color: #303952; 
    /* background-color: black; */
}

.navbar{
    
    /* background-color:#303952; */
    background-color: rgba(5, 5, 5, 0.1); 
    backdrop-filter: blur(20px);
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-end-end-radius: 40%;
    border-end-start-radius: 40%; 
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    margin-bottom: 100px;
    position: sticky;
    top: 0px;
    z-index: 100%;
}


.navbar  img{
    padding: 0px;
    display: flex;
    margin: 0 auto;
    height: 100px;
    /* mix-blend-mode: multiply; */
    filter: invert(100%);
    opacity: 10;
    transition: trasform 10ms ease;
   
}

.navbar img:hover{
    transform: scale(1.6);
}






.myself img{
    height: 400px;
    /* border: 5px solid white; */
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* border-start-end-radius: 50%;
    border-end-start-radius: 50%;
    border-end-end-radius: 50%;
    border-start-start-radius: 50%; */
    /* border-top-right-radius: 50%;  */
    /* border-start-start-radius: 50%; */
    transition: transform 1s ease;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(120, 111, 166, 100%);
}

.myself img:hover{
    cursor: pointer;
    transform: scale(1.2);
    border-start-end-radius: 30%;
    border-end-start-radius: 30%; 
    border-end-end-radius: 50%;
    border-start-start-radius: 50%; 
    border: 2px solid white;
    
}

.myself:hover + .text {
    filter: blur(5px);
}

.containermyself {
    display: flex;
    background-color: rgba(5, 5, 5, 0.1);
    width: 1200px;
    margin: 0 auto;
    backdrop-filter: blur(10px); /* Adjust the blur value as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.text{
    color: white;
    margin-top: 25px;
    margin-left: 80px;
    transition: filter 3s ease;
    flex: 1;
    width: 100%;
    /* text-align: center;
    margin: 20px; */
}

  #typing-p1{
    margin-left: 9px ;
  }
  
  
  #typing-text {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }

  #typing-h1 {
    margin-left: -15px;
  }
  


h1{
    font-size: 50px ;
}

.p1{
    font-size: 25px;
}

.p2{
    font-size: 20px;
}


.buttons{
    margin-top: 385px;
    display: flex;
}

.Instagram{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    background: url(/imagess/toppng.com-ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-515x515.png) center/cover;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 1s ease;
}

.Instagram:hover{
    transform: scale(1.2);
}




.Linkedin{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    background: url(/imagess/6297a2f1e01809629f113598.png) center/cover;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 1s ease;
}

.Linkedin:hover{
    transform: scale(1.2);
}



.GitHub{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    background: url(/imagess/5847f98fcef1014c0b5e48c0.png) center/cover;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 1s ease;
}

.GitHub:hover{
    transform: scale(1.2);
}


.Leetcode{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    background: url(/imagess/leetcode.png) center/cover;
    cursor: pointer;
    margin-left: 10px; 
    transition: transform 1s ease;
}

.Leetcode:hover{
    transform: scale(1.2);
}


.skills {
    width: 350px;
    margin: 0 auto;
    margin-top: 200px;
}
    /* transition: transform 0.3s ease-in-out;
}

/* .skills:hover {
    transform: scale(1.1);
} */

.education{
    width: 350px;
    margin: 0 auto;

}


h2{
    background-color: rgba(5, 5, 5, 0.1); 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.3s ease-in-out; 
}

h2:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(5, 5, 5, 0.1); 
    box-shadow: 0 0 20px rgba(120, 111, 166, 100%);
    border-radius: 20px;
}

.skillset{
    display: flex;
    background-color: rgba(5, 5, 5, 0.1); 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    margin-top: 0px;
    height: 1600px;
    width: 1500px;

    
    
}

.frontend h1{
    color: white;
    font-size: 25px;
    margin-left: 70px;
    display: flex;
    padding: 30px;
}



.html{
    background: url(/imagess/html5-logo-31813.png) center/cover;
    width: 80px;
    height: 80px;
    background-color: none;
    border: none;
    margin-left: 120px;

}

.HTML{
    display: flex; 
    overflow: hidden;
}

.HTML p{
    width: 1200px;
    /* height: 80px; */
    margin-top: 0px;
    margin-left: 10px;
    font-style: normal;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

.css{
    background: url(/imagess/css-icon.png) center/cover;
    width: 80px;
    height: 80px;
    background-color: none;
    border: none;
    margin-left: 120px;
}

.CSS{
    display: flex;
    overflow: hidden;
}

.CSS p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 10px;
    font-style: normal;
    font-size: 20px;
    color: white;
    overflow: hidden;
}


.JAVASCRIPT{
    display: flex;
    overflow: hidden;
}

.JAVASCRIPT p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

.javascript{
    background: url(/imagess/javascript-programming-language-icon.png) center/cover;
    width: 80px;
    height: 80px;
    background-color: none;
    border: none;
    margin-left: 120px;
}

.REACT{
    display: flex;
    overflow: hidden;
}

.REACT p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

.reactjs{
    background: url(/imagess/react-js-icon.png) center/cover;
    width: 80px;
    height: 80px;
    background-color: none;
    border: none;
    margin-left: 120px;
    border-radius: 50%
}

.backend h1{
    color: white;
    font-size: 25px;
    margin-left: 70px;
    display: flex;
}

.Node{
    display: flex;
    overflow: hidden;
}

.Node p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

.node{
    background: url(/imagess/node-js-icon.png) center/cover;
    width: 80px;
    height: 80px;
    background-color: none;
    border: none;
    margin-left: 120px;
    border-radius: 50%;
}


.Express{
    display: flex;
    overflow: hidden;
    margin-top: 0px;
}

.Express p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

.express{
    background: url(/imagess/express-js-icon.png) center/cover;
    width: 100px;
    height: 60px;
    background-color: none;
    border: none;
    margin-left: 120px;
    /* border-radius: 50%; */
}

.Mongo{
    margin-top: 0px;
    display: flex;
    overflow: hidden;
}

.Mongo p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

.mongodb{
    background: url(/imagess/MongoDB\ Logo\ PNG\ Vector\ \(SVG\)\ Free\ Download.jpeg) center/cover;
    width: 100px;
    height: 100px;
    background-color: none;
    border: none;
    margin-left: 120px;
    border-radius: 50%;
}

.Java{
    display: flex;
    overflow: hidden;
}

.Java p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

.java{
    background: url(/imagess/java-programming-language-icon.png) center/cover;
    width: 80px;
    height: 80px;
    background-color: none;
    border: none;
    margin-left: 120px;
}

.Python{
    display: flex;
    overflow: hidden;
    margin-top: 30px;
}

.Python p{
    width: 1200px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

.python{
    background: url(/imagess/python-programming-language-icon.png) center/cover;
    width: 80px;
    height: 80px;
    background-color: none;
    border: none;
    margin-left: 120px;
    border-radius: 50%;
}

.edusec{
    background-color: rgba(5, 5, 5, 0.1); 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    margin-top: 0px;
    height: 550px;
    width: 1445px;
    padding: 30px;
}


.matriculation h1{
    color: white;
    font-size: 30px;
    margin-left: 70px;
    display: flex;
    /* padding: 30px; */
}

.matriculation p{
    width: 1200px;
    /* height: 80px; */
    margin-top: 0px;
    margin-left: 130px;
    font-style: normal;
    font-size: 28px;
    color: white;
    overflow: hidden;
}

.matriculation .small{
    font-size: 15px;
}

.HigherSecondary h1{
    color: white;
    font-size: 30px;
    margin-left: 70px;
    display: flex;
}

.HigherSecondary p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 130px;
    font-size: normal;
    font-size: 28px;
    color: white;
    overflow: hidden;
}

.HigherSecondary .small{
    font-size: 15px;
}

.college h1{
    color: white;
    font-size: 30px;
    margin-left: 70px;
    display: flex;
}

.college p{
    width: 1200px;
    margin-top: 0px;
    margin-left: 130px;
    font-size: normal;
    font-size: 28px;
    color: white;
    overflow: hidden;
}

.college .small{
    font-size: 15px;
}


ul {
    list-style-type: disc; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
  }
  
  li {
    margin-bottom: 10px; /* Add some spacing between list items */
    margin-left: 150px;
    font-size: 20px; /* Set font size for list items */
    color: white; /* Set text color */
  }


  /* projects */
.project{
    width: 350px;
    margin: 0 auto;
    margin-top: 0px;
}



.projects{
    background-color: rgba(5, 5, 5, 0.1); 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    margin-top: 0px;
    height: 920px;
    width: 1445px;
    padding: 30px;
}


.mlai p{
    color: white;
    margin-left: 150px;
}

.mlai li{
    font-size: 23px;
}

.btn{
    display: flex;
}

.btn img{
    height: 80px;
    width: 80px;
    margin-left: 150px;
}

a{
    text-decoration: none;
    
}

.javaholic {
    margin-top: 50px;
    
}

.javaholic p{
    color: white;
    margin-left: 180px;
    font-size: 20px;
}

.sol ul{
    margin-left: 80px; 
    font-size: 15px;
}


.sol li{
    font-size: 17px;
}

.future li{
    font-size: 17px;

}

.future ul{
    margin-left: 80px;
}



.buttin img{
    margin-left: 220px;
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}   

/* Add this CSS code to your existing stylesheet or create a new one */

footer {
    background-color: rgba(5, 5, 5, 0.1); 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 15px;
    /* position: fixed; */
    bottom: 0;
    width: 98%;
    margin-top: 20px;
  }
  
  footer p {
    margin: 0;
  }

  .btnp{
    margin-left: 185px;
  }

  .skillset {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  
  .frontend,
  .backend,
  .ProgrammingLanguages {
    margin: 20px 0;
  }
  
  .frontend > div,
  .backend > div,
  .ProgrammingLanguages > div {
    margin: 20px;
  }
/* /// */

  

}

@media(max-width:1500px){
  


    body{
        background-color: #303952; 
        /* background-color: black; */
    }

    .container{
      margin-left: 10px;
      margin-right: 10px; 
    }
    
    .navbar{
        
        /* background-color:#303952; */
        background-color: rgba(5, 5, 5, 0.1); 
        backdrop-filter: blur(20px);
        padding: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-end-end-radius: 40%;
        border-end-start-radius: 40%; 
        /* border-top-right-radius: 10px;
        border-top-left-radius: 10px; */
        margin-bottom: 100px;
        position: sticky;
        top: 0px;
        z-index: 100%;
    }
    
    
    .navbar  img{
        padding: 0px;
        display: flex;
        margin: 0 auto;
        height: 100px;
        /* mix-blend-mode: multiply; */
        filter: invert(100%);
        opacity: 10;
        transition: trasform 10ms ease;
       
    }
    
    .navbar img:hover{
        transform: scale(1.6);
    }
    
    .myself {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 200px;
    }
    
    .myself img {
        height: 400px;
        /* border: 5px solid white; */
        margin-top: 10px;
        margin-left: 0.9%;
        margin-bottom: 0.9%;
        /* border-start-end-radius: 50%;
        border-end-start-radius: 50%;
        border-end-end-radius: 50%;
        border-start-start-radius: 50%; */
        /* border-top-right-radius: 50%;  */
        /* border-start-start-radius: 50%; */
        transition: transform 1s ease;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(120, 111, 166, 100%);
    }
    
    
    .myself img:hover{
        cursor: pointer;
        transform: scale(1.2);
        border-start-end-radius: 30%;
        border-end-start-radius: 30%; 
        border-end-end-radius: 50%;
        border-start-start-radius: 50%; 
        border: 2px solid white;
        
    }
    
    .myself:hover + .text {
        filter: blur(5px);
    }
    
    .containermyself {
        position: relative;
        /* display: flex; */
        background-color: rgba(5, 5, 5, 0.1);
        /* width: 1200px; */
        height: auto;
        margin: 0 auto;
        backdrop-filter: blur(10px); /* Adjust the blur value as needed */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
    }
    
    
    
    .text{
        color: white;
        /* margin-top: 0.9%; */
        margin-left: 0.9%;
        transition: filter 3s ease;
        flex: 1;
        /* flex-wrap: wrap;
        flex-direction: column; */
        text-align: center;
        
    }
    
    
    
    
    
    
    h1{
        font-size: 50px ;
        text-align: center;
    }
    
    .p1{
        font-size: 25px;
        
    }
    
    .p2{
        font-size: 20px;
    }


    .containermyself::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .buttons {
        float: right;
        display: flex;
    }
    

    
    .Instagram{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
        background: url(/imagess/toppng.com-ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-515x515.png) center/cover;
        cursor: pointer;
        margin-left: 10px;
        transition: transform 1s ease;
    }
    
    .Instagram:hover{
        transform: scale(1.2);
    }
    
    
    
    
    .Linkedin{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
        background: url(/imagess/6297a2f1e01809629f113598.png) center/cover;
        cursor: pointer;
        margin-left: 10px;
        transition: transform 1s ease;
    }
    
    .Linkedin:hover{
        transform: scale(1.2);
    }
    
    
    
    .GitHub{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
        background: url(/imagess/5847f98fcef1014c0b5e48c0.png) center/cover;
        cursor: pointer;
        margin-left: 10px;
        transition: transform 1s ease;
    }
    
    .GitHub:hover{
        transform: scale(1.2);
    }
    
    
    .Leetcode{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
        background: url(/imagess/leetcode.png) center/cover;
        cursor: pointer;
        margin-left: 10px; 
        transition: transform 1s ease;
    }
    
    .Leetcode:hover{
        transform: scale(1.2);
    }
    
    
    .skills {
        /* width: 350px; */
        margin: 0 auto;
        margin-top: 200px;
    }
        /* transition: transform 0.3s ease-in-out;
    }
    
    /* .skills:hover {
        transform: scale(1.1);
    } */
    
    .education{
        /* width: 350px; */
        margin: 0 auto;
    
    }
    
    
    h2{
        background-color: rgba(5, 5, 5, 0.1); 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 10px;
        color: white;
        font-size: 25px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: transform 0.3s ease-in-out; 
    }
    
    h2:hover{
        transform: scale(1);
        cursor: pointer;
        background-color: rgba(5, 5, 5, 0.1); 
        box-shadow: 0 0 10px rgba(120, 111, 166, 100%);
        border-radius: 20px;
    }
    
    .skillset{
        display: flex;
        background-color: rgba(5, 5, 5, 0.1); 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
        margin-top: 0px;
        height: auto;
        /* height: 1500px;
        width: 1500px; */
    
        
        
    }
    
    .frontend h1{
        color: white;
        font-size: 25px;
        /* margin-left: 70px; */
        display: block;
        padding: 30px;
        text-align: center;
    }
    
    
    .html {
        background: url(/imagess/html5-logo-31813.png) center/cover;
        width: 80px;
        height: 80px;
        background-color: none;
        border: none;
     
        min-width: 80px; /* Set a minimum width */
        max-width: 80px; /* Set a maximum width */
        width: 10%; /* Use a percentage width for responsiveness */
    }
    
    
    .HTML{
        display: flex; 
        overflow: hidden;

    }

    
    
    .HTML p{
        width: 1200px;
        height: auto; 
        margin-top: 0px;
        margin-left: 10px;
        font-style: normal;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    .css{
        background: url(/imagess/css-icon.png) center/cover;
        width: 80px;
        height: 80px;
        background-color: none;
        border: none;
      
        min-width: 80px;
        max-width: 80px;
        width: 10%;
    }
    
    .CSS{
        display: flex;
        overflow: hidden;
    }
    
    .CSS p{
        width: 1200px;
        margin-top: 0px;
        margin-left: 10px;
        font-style: normal;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    
    .JAVASCRIPT{
        display: flex;
        overflow: hidden;
    }
    
    .JAVASCRIPT p{
        width: 1200px;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    .javascript{
        background: url(/imagess/javascript-programming-language-icon.png) center/cover;
        width: 80px;
        height: 80px;
        background-color: none;
        border: none;
        
       
        min-width: 80px;
        max-width: 80px;
        width: 10%;
    }
    
    .REACT{
        display: flex;
        overflow: hidden;
    }
    
    .REACT p{
        width: 1200px;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    .reactjs{
        background: url(/imagess/react-js-icon.png) center/cover;
        width: 80px;
        height: 80px;
        background-color: none;
        border:none;
        border-radius: 50%; 
       
        min-width: 80px;
        max-width: 80px;
        width:10%;
    }
    
    .backend h1{
        color: white;
        font-size: 25px;
        margin-left: 70px;
        display: block;
        text-align: center;
        margin: 0px;
    }
    
    .Node{
        display: flex;
        overflow: hidden;
    }
    
    .Node p{
        width: 1200px;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    .node{
        background: url(/imagess/node-js-icon.png) center/cover;
        width: 80px;
        height: 80px;
        background-color: none;
        border: none;
        border-radius: 50%;
        
        min-width: 80px;
        max-width: 80px;
        width: 10%;
    }
    
    
    .Express{
        display: flex;
        overflow: hidden;
        margin-top: 0px;
    }
    
    .Express p{
        width: 1200px;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    .express{
        background: url(/imagess/express-js-icon.png) center/cover;
        width: 100px;
        height: 60px;
        background-color: none;
        border: none;
  
        min-width: 100px;
        max-width: 80px;
        width: 10%;
    }
    
    .Mongo{
        margin-top: 0px;
        display: flex;
        overflow: hidden;
    }
    
    .Mongo p{
        width: 1200px;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    .mongodb{
        background: url(/imagess/MongoDB\ Logo\ PNG\ Vector\ \(SVG\)\ Free\ Download.jpeg) center/cover;
        width: 100px;
        height: 100px;
        background-color: none;
        border: none;
        border-radius: 50%;
      
        min-width: 80px;
        max-width: 80px;
        width: 10%;
    }
    
    .Java{
        display: flex;
        overflow: hidden;
        
    }
    
    .Java p{
        width: 1200px;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    .java{
        background: url(/imagess/java-programming-language-icon.png) center/cover;
        width: 80px;
        height: 80px;
        background-color: none;
        border: none;
        
        min-width: 80px;
        max-width: 80px;
        width: 10%;
    }
    
    .Python{
        display: flex;
        overflow: hidden;
        margin-top: 30px;
    }
    
    .Python p{
        width: 1200px;
        margin-top: 30px;
        margin-left: 20px;
        font-size: 20px;
        color: white;
        overflow: hidden;
    }
    
    .python{
        background: url(/imagess/python-programming-language-icon.png) center/cover;
        width: 80px;
        height: 80px;
        background-color: none;
        border: none;
        border-radius: 50%;
     
        min-width: 80px;
        max-width: 80px;
        width: 10%;
    }
    
    .edusec{
        background-color: rgba(5, 5, 5, 0.1); 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
        margin-top: 0px;
        /* height: 550px; */
        /* height: auto; */
        /* width: 1445px; */
        padding: 30px;
    }
    
    
    .matriculation h1{
        color: white;
        font-size: 30px;
        margin-left: 70px;
        display: block;
        text-align: center;
        margin: 0px;
        /* padding: 30px; */
    }
    
    .matriculation p{
        /* width: 1200px; */
        /* height: 80px; */
        margin-top: 0px;
        margin-left: 30px;
        display: block;
        text-align: center;
        margin: 0px;
        font-style: normal;
        font-size: 28px;
        color: white;
        overflow: hidden;

    }
    
    .matriculation .small{
        font-size: 15px;
        padding-bottom: 50px;
    }
    
    .HigherSecondary h1{
        color: white;
        font-size: 30px;
        margin-left: 70px;
        display: block;
        text-align: center;
        margin: 0px;
        
    }
    
    .HigherSecondary p{
        /* width: 1200px; */
        margin-top: 10px;
        margin-left: 130px;
        display: block;
        text-align: center;
        margin: 0px;
        font-size: normal;
        font-size: 28px;
        color: white;
        overflow: hidden;
    }
    
    .HigherSecondary .small{
        font-size: 15px;
        padding-bottom: 50px;
    }
    
    .college h1{
        color: white;
        font-size: 30px;
        margin-left: 70px;
        display: block;
        text-align: center;
        margin: 0px;
    }
    
    .college p{
        /* width: 1200px; */
        margin-top: 0px;
        margin-left: 130px;
        font-size: normal;
        font-size: 28px;
        color: white;
        overflow: hidden;
        display: block;
        text-align: center;
        margin: 0px;
    }
    
    .college .small{
        font-size: 15px;
        padding-bottom: 50px;
    }
    
    
    ul {
        list-style-type: disc; /* Remove default bullet points */
        padding: 0; /* Remove default padding */
      }
      
      li {
        margin-bottom: 10px; /* Add some spacing between list items */
        margin-left: 1%;
        display: block;
        text-align: center;
        margin: 0px;
        font-size: 20px; /* Set font size for list items */
        color: white; /* Set text color */
      }
    
    
      /* projects */
    .project{
        /* width: 350px; */
        margin: 0 auto;
        margin-top: 0px;
    }
    
    
    
    .projects{
        background-color: rgba(5, 5, 5, 0.1); 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
        margin-top: 0px;
        height: auto;
        /* width: 1445px; */
        padding: 30px;
    }
    
    
    .mlai p{
        color: white;
        margin-left: 150px;
        display: block;
        margin: 0px;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .mlai  li:before {
        content: "•"; /* Use your preferred list style here */
        color: white; /* Optional: Change the color */
        margin-right: 5px; /* Optional: Adjust spacing between the marker and text */
    }



    .mlai li{
        font-size: 23px;
        padding-bottom: 40px;
    }
    
    .btn{
        display: flex;
        justify-content: space-evenly;
        /* width: auto; */
    }
    
    .btn img{
        height: 80px;
        width: 80px;
        margin-left: 150px;
        display: block;
        margin: 0px;
        text-align: center;
        
    }
    
    a{
        text-decoration: none;
        
    }
    
    .javaholic {
        margin-top: 50px;
        
    }
    
    .javaholic p{
        color: white;
        margin-left: 180px;
        font-size: 20px;
    }
    
    .javaholic li:before {
        content: "•"; /* Use your preferred list style here */
        color: white; /* Optional: Change the color */
        margin-right: 5px; /* Optional: Adjust spacing between the marker and text */
    }



    .sol p{
        display: block;
        text-align: center;
        margin: 0px; 
    }

    .sol ul{
        /* display: block;
        text-align: center;
        margin: 0px; */
        list-style-type: disc;
    }


    .sol li{
        font-size: 17px;
        /* display: block;
        text-align: center;
        margin: 0px; */
        list-style-type: disc;
    }

    .sol li:before {
        content: "•"; /* Use your preferred list style here */
        color: #ffcc00; /* Optional: Change the color */
        margin-right: 5px; /* Optional: Adjust spacing between the marker and text */
    }




    
    .future li{
        font-size: 17px;
        display: inline-block;
        margin: 0 10px;
        list-style-type: disc;
        padding-bottom: 15px;
    }
    
    .future li:before {
        content: "•"; /* Use your preferred list style here */
        color: #ffcc00; /* Optional: Change the color */
        margin-right: 5px; /* Optional: Adjust spacing between the marker and text */
    }


    .future ul{
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .future p{
        display: block;
        text-align: center;
        margin: 0px;
    }
    
    
    
    .buttin img {
        display: block;      

        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    
    
    /* Add this CSS code to your existing stylesheet or create a new one */
    
    footer {
        background-color: rgba(5, 5, 5, 0.1); 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        padding: 15px;
        /* position: fixed; */
        bottom: 0;
        /* width: 98%; */
        margin-top: 20px;
      }
      
      footer p {
        margin: 0;
      }

      .skillset {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      .frontend,
      .backend,
      .ProgrammingLanguages {
        margin: 20px 0;
      }
      
      .frontend > div,
      .backend > div,
      .ProgrammingLanguages > div {
        margin: 20px;
      }
      
      /*  */
      .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      .mlai,
      .javaholic {
        margin: 20px 0;
      }
      
      .mlai > ul,
      .javaholic > ul {
        list-style-type: none;
        padding: 0;
      }
      
      .mlai > ul > li,
      .javaholic > ul > li {
        font-weight: bold;
        font-size: 24px;
        margin: 10px 0;
      }
      
      .mlai > ul > p,
      .javaholic > ul > p {
        margin: 10px 0;
      }
      
      .mlai .btn,
      .javaholic .buttin {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
      }
      
      .mlai .btn a,
      .javaholic .buttin a {
        text-decoration: none;
        color: #333;
      }
      
      .mlai .btn img,
      .javaholic .buttin img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 5px;
      }
      
      #typing-p1{
        margin-left: 9px ;
      }
      
      
      #typing-text {
        font-size: 20px;
        text-align: center;
        margin: 10px 0;
      }
    
      #typing-h1 {
        margin-left: -15px;
      }
}

    </style>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img src="/imagess/imp-removebg-preview.png" alt="" />
      </div>

      <div class="containermyself">
        <div class="myself">
          <img src="/imagess/simp.png" alt="" srcset="" />
        </div>

        <div class="text">
          <h1 id="typing-h1" ></h1>
          <p class="p1" id="typing-p1"></p>
          <p class="p2" id="typing-text"></p>
        </div>

        <div class="buttons">
          <a href="">
          <input type="button" value="" class="Instagram" />
          </a>

          <a href="https://www.linkedin.com/in/aditya-suryadhwaj-082852230/">
          <input type="button" value="" class="Linkedin" />
          </a>

          <a href="https://github.com/47sinnha">
          <input type="button" value="" class="GitHub" />
          </a>

          <a href="
          Aditya_Suryadhwaj">
          <input type="button" value="" class="Leetcode" />
          </a>
        </div>
      </div>

      <div class="skills" onclick="ope();">
          <h2 id="click" onclick="changes();">SKILLS🔐</h2>
      </div>
      
      <div class="skillset" id="open">
          <div class="frontend">
              <h1>🎯FrontEnd-Skills</h1>
              <div class="HTML">
              <input type="button" value="" class="html">
              <p>🚀 Brace yourself! I don't just know HTML; I dance with the tags, make the elements sing, and turn every page into a work of art. From <code>&lt;head&gt;</code> to <code>&lt;footer&gt;</code>, HTML is not just a language for me; it's my symphony of creation.
              Whether it's crafting clean and semantic code or breathing life into a design with the perfect structure, HTML is my playground, and I know it like the back of my hand.
              Ready for a web experience that goes beyond the basics? Let's code something extraordinary together!</p>
            </div>

            <div class="CSS">
            <input type="button" value="" class="css">
            <p>🎨 Step into my digital atelier! When it comes to CSS, I'm not just applying styles; I'm painting a masterpiece on the canvas of the web. From the elegance of box models to the rhythm of keyframes, I wield CSS like a magic wand.
            Responsive design? Absolutely. Sassy animations? Piece of cake. I don't just style elements; I create an immersive experience that leaves a lasting impression. Your website isn't just a project; it's a statement, and CSS is my secret weapon.
            Let's add a touch of style and a dash of flair to your digital realm. Ready for a CSS journey that goes beyond the ordinary?</p>
            </div>

            <div class="JAVASCRIPT">
              <input type="button" value="" class="javascript">
              <p>✨ Brace yourself for a JavaScript journey unlike any other! I don't just write code; I orchestrate symphonies with functions, bend data to my will, and turn ideas into dynamic, interactive experiences.
                From the dance of asynchronous promises to the wizardry of event listeners, JavaScript is not just a language; it's my toolkit for creating digital enchantment. I thrive on turning complex problems into elegant solutions with the power of code.
                Ready to elevate your web experience? Let's infuse your project with the magic of JavaScript and make your ideas come to life!
              </p>
            </div>


            <div class="REACT">
              <input type="button" value="" class="reactjs">
              <p>🔮 Welcome to the realm of React.js, where I don't just build components; I weave spells of seamless UIs and captivating user experiences. From the magic of state management to the enchantment of declarative syntax, React is my spellbook for creating powerful and responsive web applications.
                Whether it's crafting dynamic interfaces or summoning the power of reusable components, React.js is not just a library; it's the source of my front-end sorcery. I thrive on turning complex ideas into elegantly structured, component-driven journeys.
                Ready to transform your digital landscape? Let's harness the magic of React.js and bring your vision to life!
              </p>
            </div>
            
            <div class="backend">
              <h1>🎯BackEnd-Skills</h1>
              <div class="Node">
                <input type="button" value="" class="node">
                <p>
                  🚀 Step into the world of Node.js, where I don't just build servers; I conjure powerful backends and breathe life into web applications. From the sorcery of non-blocking I/O to the wizardry of scalable APIs, Node.js is my toolkit for crafting robust and lightning-fast server-side solutions.
                  Whether it's orchestrating microservices or summoning the power of real-time communication, Node.js is not just a runtime; it's the engine behind my server-side spells. I thrive on turning complex data into seamless interactions and building the backbone of digital experiences.
                  Ready to elevate your server-side game? Let's harness the magic of Node.js and create web applications that defy expectations!
                </p>
              </div>

              <div class="Express">
                <input type="button" value="" class="express">
                <p>
                  ⚡ Mastering Express.js is my secret weapon for building blazing-fast, server-side web applications. From routing to middleware sorcery, I sculpt APIs and create seamless digital experiences with the speed and precision of a ninja.
                  Ready to navigate the express lanes of web development? Let's build something extraordinary together!
                </p>
              </div>

              <div class="Mongo">
                <input type="button" value="" class="mongodb">
                <p>
                  🌐 Dive into the world of MongoDB with me, where I'm not just storing data; I'm orchestrating a NoSQL symphony. Collections dance, documents sing, and queries harmonize in a database masterpiece that scales effortlessly.
                  Whether it's the rhythm of flexible schemas or the melody of distributed databases, MongoDB is not just a storage solution; it's the heartbeat of my data-driven compositions. Ready to compose a data symphony that resonates with your project?
                </p>
              </div>
              </div>

              <div class="ProgrammingLanguages">
                <h1>👨‍💻Programming Language's</h1>
                  <div class="Java">
                    <input type="button" value="" class="java">
                    <p>
                      ☕️ Embracing the elegance of Java, I navigate the language with finesse, transforming code into a fluid expression. From object-oriented choreography to threading orchestration, I command Java with an artful touch.
                      🚀 Beyond the syntax, I embark on epic journeys of problem-solving on platforms like LeetCode, sculpting solutions that dance with efficiency and elegance. Every algorithm becomes a chapter in my book of mastery, and every challenge is an opportunity to compose a brilliant piece of code.
                      💡 Join me in the pursuit of excellence, where Java is not just a language but a medium for crafting algorithmic symphonies. Let's write code that resonates with brilliance!
                    </p>
                  </div>
                  
              <div class="Python">
                    <input type="button" value="" class="python">
                    <p>
                      Know Enough About 🐍
                    </p>
                  </div>
              </div>
      </div>
    </div>

          <div class="education" onclick="education();">
              <h2 id="section" onclick="name1()">EDUCATION🔐</h2>
          </div>

          <div class="edusec" id="edusec1">
            <div class="matriculation">
              <h1>👨‍🎓 Matriculation</h1>
               <p>🏫  Delhi Model Public School (Apr 2012- 2019)</p>
               <p class="small">"Successfully completed my senior secondary education at 'Delhi Model Public School' with a commendable aggregate of 65%."</p>
            </div>

            <div class="HigherSecondary">
              <h1>👨‍🎓 Higher Secondary</h1>
              <p>🏫 The Earth Public School (Apr 2019- 2021)</p>
              <p class="small">"Successfully completed my higher secondary education at 'The Earth Public School' with a commendable aggregate of 68%." </p>
            </div>
            
            <div class="college">
              <h1>👨‍🎓 College</h1>
              <p>🎓 Aditya Silver Oak Institute Of Technology (2022-2026)</p>
              <ul>
                <li>1st Year :- 7.93 CGPA</li>
                <li>2nd Year (3rd Sem):- 9.48 CGPA</li>
              </ul>
              <p class="small">"Currently cruising through the college journey, rocking the B.Tech vibes. 🚀✨"</p>
            </div>
          </div>

          <div class="project" onclick="project()">
            <h2 id="hai" onclick="name2()">PROJECTS🔐</h2>
          </div>

          <div class="projects" id="op">
            <div class="mlai">
              <ul>
                <li> CREATED A BJP WIN PREDICITION MODEL FOR 2024 CENTRAL ELECTION USING NLP(ML/AI)</li>
                <p> Created A Winning Prediction Model For BJP Using Sentiments Analysis From Tweet, it's include Fetching Of Real Time Tweets And Data(Like Hashtags) From Twitter(X) Using a Special Type Of Tool Called "NTSCRAPPER". Basically This Projects Uses NLP (Natural Language Processing), This Sentiments Analysis Includes Two Major Steps:- 1. Fetching Of Tweets Using "NTSCRAPPER" and 2. Working On These Tweets Using NLP Model. In This Model 500+ Live Tweets And Hashtags Were Used Are #MODI and #PMELECTION2024, #BJP2024</p>

                <p>Below Are The Some Source Link Of Project And Tool Which I Have Been Used To Make This Project:- </p>

                <div class="btn">
                  <a href="">
                    <img src="/imagess/python-programming-language-icon.png" alt="" srcset="">
                  </a>

                  <a href="https://www.linkedin.com/in/aditya-suryadhwaj-082852230/">
                    <img src="/imagess/6297a2f1e01809629f113598.png" alt="" srcset="">
                  </a>

                  <a href="https://colab.research.google.com/drive/1LEYcSis9cI9aXNuvGjGPlQ_2S3MCHEVw?usp=sharing">
                    <img src="/imagess/google-colaboratory6512.jpg" alt="" srcset="" style="border-radius: 50%;">
                  </a>
                </div>
              </ul>
            </div>


            <div class="javaholic">
              <ul style="font-size: 20px;">
                <li>JAVAHOLIC</li>
              </ul>
              <div class="sol">
                <p>Created A Website JavaHolic To Help Students In DSA, With Some Fatures Like:- </p>
                <ul  >
                  <li>Solution To Each And Every Question Topics Wise</li>
                  <li>A Perfect RoadMap For DSA</li>
                  <li>A Perfect Guidance At Each Steps</li>
                </ul>
                </div>

                <div class="future">
                <p>Further We Are Coming Up With More Solution Like:-</p>
                <ul>
                  <li>Learning Resources:
                    Tutorials and Guides: Provide comprehensive tutorials and guides covering various DSA topics. Break down complex concepts into easy-to-understand explanations.
                    Visualizations: Include visualizations to help students grasp algorithmic concepts better. Interactive visual aids can enhance the learning experience.
                  </li>

                  <li>Coding Practice:
                    Coding Challenges: Offer a collection of coding challenges categorized by difficulty levels. These challenges can help students strengthen their problem-solving skills.
                    Online Compiler: Include an online coding platform where students can practice DSA problems in various programming languages. Provide instant feedback on code correctness.
                  </li>

                  <li>Community and Collaboration:
                    Discussion Forums: Create a community space where students can discuss DSA problems, share insights, and ask for help. Forums foster collaboration and a sense of community.
                    Collaborative Coding: Implement features for collaborative coding sessions, enabling students to solve problems together in real-time.
                  </li>

                  <li>Educational Content:
                    Video Lectures: Offer video lectures by experienced instructors, explaining DSA concepts in-depth. Visual and auditory learning can be valuable for different types of learners.
                    Case Studies: Provide real-world case studies showcasing the application of DSA in solving practical problems.
                  </li>

                  <li>Progress Tracking:
                    Personalized Dashboards: Allow users to create accounts and personalize their dashboards to track their progress, completed challenges, and areas that need improvement.
                    Analytics: Implement analytics to provide insights into learning patterns, strengths, and weaknesses. This data can help students tailor their study plans.
                  </li>
              </ul>
              <p class="btnp">Below Is The Link For JAVAHOLIC:- </p>
              <div class="buttin">
                <a href="">
                  <img src="/imagess/javaholic Logo.png" alt="" srcset="">
                </a>
              </div>

              </div>

            </div>
          </div>



          
          <footer>
          <p>&copy; 2024 Aditya Suryadhwaj. All rights reserved.</p>
          </footer>
        </body>
  <script>
    const h1TextToType = "👋 There,";
    const p1TextToType = "I'm Aditya Suryadhwaj";
    const textToType =
      "I sincerely appreciate your thoughtful gesture in taking the time to explore my portfolio. Your visit means a lot to me, and I am grateful for the opportunity to share my work with you. If you have any questions or feedback, please feel free to share them—I value your insights. Thank you once again for your visit and consideration.";

    function typeText(element, text, speed) {
      let i = 0;
      const typingInterval = setInterval(() => {
        element.innerHTML += text.charAt(i);
        i++;
        if (i > text.length) {
          clearInterval(typingInterval);
        }
      }, speed);
    }

    const h1Element = document.getElementById("typing-h1");
    const p1Element = document.querySelector(".p1");
    const textElement = document.getElementById("typing-text");

    typeText(h1Element, h1TextToType, 50);
    typeText(p1Element, p1TextToType, 50);
    typeText(textElement, textToType, 50);




    ///// Blocking the skillset
    const skillset = document.getElementById("open");

function ope() {
    if (skillset.style.display === "block") {
        skillset.style.display = "none";
        document.getElementById("click").innerText="SKILLS🔐"
    } else {
        skillset.style.display = "block";
    }
}

function clos() {
    skillset.style.display = "none";
}

clos();


  function changes(params) {
    document.getElementById("click").innerText="SKILLS 🛠️"
  }

 // Blocking the education section
 
 function education(params) {
  if(document.getElementById("edusec1").style.display==="block"){
    document.getElementById("edusec1").style.display="none";
    document.getElementById("section").innerText="Education🔐";
  }
  else{
    document.getElementById("edusec1").style.display="block";
  }
 }

 function closs(params) {
    document.getElementById("edusec1").style.display="none"; 
 }

 closs(); 

 function name1(params) {
  document.getElementById("section").innerText="Education📖";
 }
//// 
//Project Section
function project(params) {
  if(document.getElementById("op").style.display==="block"){
    document.getElementById("op").style.display="none";
    document.getElementById("hai").innerText="Projects🔐"
  }
  else{
    document.getElementById("op").style.display="block"; 
  }
}

function closss(params) {
  document.getElementById("op").style.display="none"; 
}

closss(); 

function name2(params) {
  document.getElementById("hai").innerText="Projects ⚙️";
}

  </script>
</html>
